<!DOCTYPE html>

<html lang="en-GB" dir="ltr">

	{{> head title=title }}

	<body class="page">

		<div class="page__content">

			<div class="not-found">
				<header class="not-found__header">
					<h1 class="not-found__title">
						{{ title }}
					</h1>
					<h2 class="not-found__byline">
						{{ byline }}
					</h2>
				</header>
				<p class="not-found__explanation">
					{{ explanation }}
				</p>
			</div>

		</div>

		<script type="text/javascript">

			window.addEventListener('DOMContentLoaded', function ()
			{
				lsp.enhance({
					excuses : {{{ to-json excuses }}}
				})
			});

		</script>

	</body>

</html>

