.page
{
	padding: 20px;
	margin: 0;
	font-size: 14px;
	background: #222;

	&::before
	{
		z-index: -1;
		position: absolute;
		top: 150px;
		left: 0;
		width: 100%;
		height: 100px;
		background: #d73b25;
		box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
		content: '';
	}
}

.page__content
{
	box-sizing: border-box;
	width: 100%;
	max-width: 400px;
	padding: 20px;
	margin: 100px auto 0;
	color: #333;
	font-size: 100%;
	font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
	background: #e9e2d0;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
