name: Build

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
  workflow_call:

jobs:

  build:

    name: Build

    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v6

      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Package
        uses: actions/upload-pages-artifact@v4
        with:
          path: website/
        if: github.event_name == 'push'
