name: Deploy

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
  workflow_dispatch:

jobs:

  build:
    uses: ./.github/workflows/build.yml

  deploy:

    name: Deploy

    needs:
      - build

    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:

      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
